.data-widget-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #6a89d7;
}
.truncate {
    width: 110px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table td {
    cursor: pointer;
  }