<subheader title="Overview"></subheader>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="BILLING ACCOUNT OVERVIEW">
    <!-- <div class="row"> -->
      
      <div  class="col-lg-8">
        <div  class="card">
          <div  class="card-body">
            <!-- <div  class="d-flex justify-content-between mb-4">
              <div>
                <h5  class="box-title mb-2 font-weight-bold">Current month</h5>
                <div  class="text-muted font-13">Simple Subtitle</div>
              </div>
            </div> -->
          <div  class="row">
            <div class="col-lg-6">
                <div  class="d-flex justify-content-between mb-4">
                    <div>
                      <h6  class="m b-1 font-15 font-weight-bold">Current month</h6>
                    </div>
                    <div>
                    </div>
                  </div>
            </div>
            <div  class="col-lg-6">
              <div  class="d-flex justify-content-between mb-4">
                <div>
                  <h6  class="m b-1 font-15 font-weight-bold">End of month total cost(forecasted)</h6>
                  <div  class="text-muted font-13">$82</div>
                </div>
                <div>
                </div>
              </div>
              <div  class="d-flex justify-content-between mb-4">
                <div>
                  <h6  class="mb-1 font-15">Total Orders - 145</h6>
                  <div  class="text-muted font-13">+5.7% than last week</div>
                </div>
              <div>
                
              </div>
              </div>
              <div  class="d-flex justify-content-between"><div>
                <h6  class="mb-1 font-15">Commission</h6>
                <div  class="text-muted font-13">+0.7% commissions</div>
              </div>
              <div>
            </div>
          </div>
            </div>
      </div>
    </div>
  </div>




</div>
    <!-- </div> -->
  </mat-tab>
  <mat-tab label="PAYMENT OVERVIEW">
    <div class="row">
      
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
                <div  class="d-flex justify-content-between mb-4">
                    <div>
                      <h6  class="m b-1 font-15 font-weight-bold">Your balance</h6>
                    </div>
                    <div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6">
                <div  class="d-flex justify-content-between mb-4">
                    <div>
                      <h6  class="m b-1 font-20 font-weight-bold">$0.00</h6>
                    </div>
                    <div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
