<div class="row">
        <div class="col-md-9">
                <subheader title="Fraud Manager"></subheader>
        </div>

    <div class="col-md-3">
        <button class="btn btn-primary  float-right" (click)="postRecord()"><i class="ft ft-plus"></i> Add record</button>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Search records</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
            <form class="form-horizontal"  #f="ngForm" (ngSubmit)="save(f.value)">
                    <div class="form-group">
                        <label for="exampleFormControlInput">Transaction Id</label>
                        <input class="form-control" ngModel  type="text" name="transactionid"  placeholder="Transaction Id">
                    </div>
                    <div class="form-group">
                        <label>User Id</label>
                        <input class="form-control" ngModel type="text" name="userId" placeholder="Account">
                    </div>
                    <div class="form-group">
                        <label>Product Id</label>
                        <input class="form-control" ngModel type="text" name="productId" placeholder="Product Id">
                    </div>
                    
                    <div class="form-group">
                        <label>Amount</label>
                        <input class="form-control" [(ngModel)]="initialamt" type="number" name="amount" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <label>Payment method</label>
                        <select class="form-control mb-3" ngModel  type="text" name="paymentmethod">
                            <option value="">Please Select</option>
                            <option value="mobilemoney">Mobile Money</option>
                            <option value="wallet">Wallet</option>
                            <option value="bankcard">Bank Card</option>
                        </select>
                    </div>
                    <button class="btn btn-primary pull-right"><i class="ft ft-search"></i>&nbsp;Search</button>
            </form>
    </div>
</ng-template>
<div class="row">
  <div class="col-lg-12">
      <div class="card card-fullheight mt-4">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-8">
                    <div class="d-flex  mb-4">
                        <div>
                            <div class="input-group">
                                <input class="form-control"  id="preselection"  name="mydate" placeholder="Select a date" 
                                angular-mydatepicker #dp="angular-mydatepicker" 
                                    [options]="myDpOptions" 
                                (dateChanged)="onDateChanged($event)"/>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                                        <i class="ft ft-calendar"></i>
                                    </button>
                                </div>  
                            </div>
                          </div>
                              <button class="btn  btn-primary " (click)="openBackDropCustomClass(content)" style="margin-left: -5%;"><i class="ft ft-search pr-2"></i>Search Records</button>
                            
            
                        </div>
                  </div>
                  <div class="col-md-4">
                    <div class="pull-right">
                        <a  style="cursor:pointer;" id="effect" (click)="download()"  class="btn btn-transparent  mt-0"><img class="text-left" src="./assets/img/exlicon.png"  style="max-width: 30%;"/>&nbsp;
                            <span class="font-13">Export</span>
                        </a>
                        <!-- <div class="col-md-5 pull-right"> -->
                            <mat-progress-bar mode="indeterminate" *ngIf="showBar"></mat-progress-bar>
                        <!-- </div> -->
                  </div>
                  </div>
              </div>

              <div class="row">
              </div>
              <div class="card-fullwidth-block mx-sm-0">
                  
                  <div class="table-responsive">
                      <table class="table table-hover table-striped">
                          <thead class="thead-default thead-lg">
                              <tr>
                                  <!-- <th class="pl-4">Transaction ID</th> -->
                                  <th>Date Added</th>
                                  <th>Account</th>
                                  <th>Product</th>
                                  <th>Amount</th>
                                  <th>Payment Method</th>
                                  <th>Date</th>
                                  <th>Delete</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of resultdata">
                                  <!-- <td class="pl-4 text-primary" (click)="profile(item)"><span class="truncate">{{item.transactiondata.transactionId}}</span></td> -->
                                  <td (click)="profile(item)">{{item.createdAt | date:'short'}}</td>
                                  <td (click)="profile(item)">{{item.transactiondata.accountDetails.userId}}</td>
                                  <td (click)="profile(item)">{{item.transactiondata.productDetails.name}}</td>
                                  <td (click)="profile(item)">{{numberWithCommas(item.transactiondata.amount.amount)}}</td>
                                  <td class="pr-4" (click)="profile(item)">{{item.transactiondata.paymentMethod.name}}</td>
                                  <td (click)="profile(item)">{{item.transactiondata.transactionDate | date:'short'}}</td>
                                  <!-- <td (click)="profile(item)">{{item.transactiondata.transactionDate | date:'short'}}</td> -->
                                  <td class="pr-4"><a class="ml-3 text-danger" style="font-size:15px; cursor: pointer;" (click)="opens(contents, item._id)"><i class="ft-trash-2"></i></a></td>

                                  <!-- <td class="pr-4"><a class="ml-3 text-danger" style="font-size:15px; cursor: pointer;" (click)="removeProduct(item._id)"><i class="ft-trash-2"></i></a></td> -->


                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <ng-template #contents>
                    <div class="modal-body mt-3">
                        <h5>Are you sure you want to Delete this record ?</h5>
                      </div>
                    <div class="modal-footer">
                            <fieldset class="w-100">
                              <button class="pull-left btn btn-secondary"  (click)="dismiss()"><i class="ft ft-x"></i>&nbsp;Close</button>
                              <button class="pull-right btn btn-danger float-right"  (click)="removeRecord()"><i class="ft ft-check"></i>&nbsp;Yes</button>
                            </fieldset>
                    </div>
                  </ng-template>
                  
                  <div class="row">
                        <div class="col-md-12">
                                <div *ngIf="showSpinner"> 
                                    <mat-progress-spinner  style="margin:0 auto;"
                                        class = "tp-margin"
                                        [diameter]="50" 
                                        [color] = "color"
                                        [mode] = "mode"
                                        [value] = "values">
                                     </mat-progress-spinner>
                                </div>
                                <div *ngIf="show">
                                    <div class="text-center animated  mt-3">
                                            <img src="assets/img/image.png" class="shake">
                                        <p>No Transactions Yet</p> 
                                    </div>
                                </div>
                        </div>
                    </div>


                  <div class="row" *ngIf="resultdata?.length > 0">
                      <div class="col-sm-12 col-md-5">
                          <!-- <div class="dataTables_info" id="dt-base_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div> -->
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dt-base_paginate">
                                <ul class="pagination  justify-content-end">
                                    <li class="paginate_button page-item " *ngIf="previous"><a aria-controls="dt-base" data-dt-idx="1" tabindex="0" class="page-link" (click)="previousmethod()">Previous</a></li>
                                    <li class="paginate_button page-item " *ngFor="let page of pages"><span aria-controls="dt-base"  style = "cursor: default;" data-dt-idx="1" tabindex="0" class="page-link">{{page.page}}</span></li>
                                    <li class="paginate_button page-item " *ngIf="nextpage"><a aria-controls="dt-base" data-dt-idx="7" tabindex="0" class="page-link" (click)="getnextransactiondata()">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #LoginModal let-modal>
    <app-modal ></app-modal>
  </ng-template>
